<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <form  action="new_transaction" method="post">
        <h1>LAND TRANSFER</h1>
     <p> <input type="text" name="sender" placeholder="from"></p>
      <p>  <input type="text" name="landtitle" placeholder="Land Title ID"></p>
       <p>   <input type="text" name="receiver" placeholder="to"></p>
     <p>  <input type="password" name="password" placeholder="Password"></p>

         <p> <input type="submit" name="transfer" placeholder="transfer"></p>
    </form>
</body>
</html>
