<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transaction</title>
    <link rel="stylesheet" href="../static/transaction.css">
</head>
<body>
<div class="container">
    <h3>Transact</h3>
    <form action="transact" method="POST">
        <div class="inp">
            <label>Seller ID</label>
            <input type="text" name="sellerid">
        </div>
        <div class="inp">
            <label>Buyer ID</label>
            <input type="text" name="buyerid">
        </div>
        <div class="inp">
            <label>Title deed no</label>
            <input type="text" name="title">
        </div>
        <button type="submit" class="sbmt-btn">Submit</button>
    </form>
</div>
</body>
</html>
