<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" type="text/css" href="../static/stylee.css">
        </head>
    <body>
        <div class="about">
            <h2>About Us</h2>
            <ul>
                <li>The Vland Network features the 
                <li>largest and most effective</li>
                <li>marketplaces to discover, buy and sell rural real</li> 
                <li>estate</li>

            </ul>
            <form  action="/action/" method="post">
                <input type="text" name="title" placeholder="Enter Title DeedNo ">
                 <button  formaction="verify" type="submit" class="signupbtn">Verify</button>
            </form>
        </div>
    </body>
</html>
