<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/table.css">
</head>
<body>
    <h2>Chain</h2>
    <div class="table">
        <div class="row first">
            <span class="index">Index</span>
            <span class="timestamp">Timestamp</span>
            <span class="data">Data</span>
            <span class="phash">Prev hash</span>
            <span class="chash">Current hash</span>
        </div>
        <div class="row">
            <span class="index">0</span>
            <span class="timestamp">2019-12-06 11:39:20</span>
            <span class="data">This town</span>
            <span class="phash">0000000000000000</span>
            <span class="chash">d3ecf9c324163a6a</span>
        </div>
        <div class="row">
            <span class="index">1</span>
            <span class="timestamp">2019-11-28 21:17:02</span>
            <span class="data">Mathogothanio</span>
            <span class="phash">d3ecf9c324163a6a</span>
            <span class="chash">506167fbdbd0da34</span>
        </div>
        <div class="row">
            <span class="index">2</span>
            <span class="timestamp">2020-02-14 18:26:55</span>
            <span class="data">The killing moon</span>
            <span class="phash">506167fbdbd0da34</span>
            <span class="chash">40bddaa4e5e14e54</span>
        </div>
        <div class="row">
            <span class="index">3</span>
            <span class="timestamp">2019-12-06 11:39:20</span>
            <span class="data">After hours in ibiza</span>
            <span class="phash">40bddaa4e5e14e54</span>
            <span class="chash">603ba8b931a6baab</span>
        </div>
    </div>
</body>
</html>
